.cart-page {
    height: 100vh;
    padding: 60px 0 0 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.purchases_total {
    position: relative;
    padding: 20px 24px;
    background: linear-gradient(170.75deg, rgba(0, 0, 0, 0.4) -9.69%, rgba(43, 43, 43, 0.4) 115.55%), #2f3338;
    color: #fff;
    border-radius: 20px;
    box-shadow: 17.1981px 17.1981px 34.3963px #020303, -17.1981px -17.1981px 34.3963px rgba(39, 42, 47, 0.29);
    width: 450px;
    height: 250px;
    margin: 0 50px;
}
.summary__article {
    text-align: center;
}
.cart-page__headline {
    text-align: left;
    color: #fff;
}

#make-order {
    position: absolute;
    width: 100%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    color: #fff;
    background: #5458f7;
    border-color: #5458f7;
    border-radius: 0px 0px 20px 20px;
}
