@import url(fonts.scss);
@import url(reset.scss);
@import url(pages.scss);
@import "~bootstrap/scss/bootstrap";

#root {
    font-family: "Alef";
    background: #31323b;
}

a,
p,
span {
    color: #fff !important;
}
