@import "~bootstrap/scss/bootstrap";


@import url(fonts.scss);
@import url(reset.scss);
@import url(pages.scss);

#root {
    font-family: "Alef";
    background: #31323b;
}

a,
p,
span,label {
    color: #fff !important;
}
