.buyer-setup {
    border-radius: 20px;
    box-shadow: 17.1981px 17.1981px 34.3963px #020303, -17.1981px -17.1981px 34.3963px rgba(39, 42, 47, 0.29);
    color:#fff;
    padding: 45px 55px;
    display: flex;
    background: linear-gradient(152.47deg, rgba(0, 0, 0, 0.4) -9.69%, rgba(43, 43, 43, 0.4) 115.55%), #2F3338;
    width: 55em;
}


.setup-buyer__block {
    width: max-content;
    margin-right: 84px;
}
.setup-buyer__key {
    height:5rem;
}

.info-buyer__block {
    width: 40%;
}

.buyer-setup__form {
    margin-top: 35px;
}

.buyer-setup__form textarea {
    width: 100%;
    display: block;
    margin: 8px 0;
}
.buyer-setup-buttons {
    margin-top: 30px;
}
.buyer-setup-btn {
    padding:  8px 12px;
    width: 140px;
}

.setup-btn  {
    margin: 0 15px;
}