.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(139.47deg, rgba(0, 0, 0, 0.4) -9.69%, rgba(43, 43, 43, 0.4) 115.55%), #2f3338;
  border-radius: 20px;
  width: 500px;
  height: 450px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 10px;
}

.modal-header {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  border-bottom: none !important;
}

.modal-body,
.purchases__modal_form {
  padding-bottom: 0 !important;
}

.modal-title {
  font-weight: bold;
  margin: 0 auto;
}

.modal-footer {
  border-top: none !important;
  padding: 1.5em!important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.buy-btn {
  margin: 0 auto !important;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  line-height: 21px;
  width: 240px;
  height: 50px;
}

.modal-body,
.purchases__modal_form,
.purchases__modal_form {
  padding-top: 0 !important;
}

.purchases__modal_item:first-child {
  margin-top: 0;
}
