.cart-page__wrapper {
  display: flex;
  width: 100%;
}

.profile__main_column {
}

/*
<seller and buyer styles>
*/

.seller-component,
.buyer-component {
  width: max-content;
  display: flex;
  flex-direction: column;
  background: linear-gradient(345.46deg, #32383e -77.68%, #17191c 87.35%);
  box-shadow: 12.571px 12.571px 56.5696px rgba(0, 0, 0, 0.4),
    -12.571px -6.28551px 50.2841px rgba(195, 200, 205, 0.05);
  border-radius: 20px;
  width: max-content;
  min-width: 250px;
  padding: 30px;
  margin-bottom: 30px;
}

/*
</seller and buyer-component styles>
*/
.seller-component a,
.buyer-component a {
  padding: 20px 0;
}
/*
<nav and buyer styles>
*/

.nav-components {
  margin: 0 7% 0 1%;
  width: fit-content;
}

/*
</nav-component styles>
*/

.purchases_total {
  padding: 20px 24px;
  background: linear-gradient(
      170.75deg,
      rgba(0, 0, 0, 0.4) -9.69%,
      rgba(43, 43, 43, 0.4) 115.55%
    ),
    #2f3338;
  color: #fff;
  border-radius: 20px;
  box-shadow: 17.1981px 17.1981px 34.3963px #020303,
    -17.1981px -17.1981px 34.3963px rgba(39, 42, 47, 0.29);
  width: 450px;
  height: 250px;
  margin: 0 50px;
}
.summary__article {
  text-align: center;
}
.cart-page__headline {
  text-align: left;
  color: #fff;
}

#make-order {
  position: absolute;
  width: 100%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 45px;
  color: #fff;
  background: #5458f7;
  border-color: #5458f7;
  border-radius: 0px 0px 20px 20px;
}

//<Form styles >//

.purchases__modal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 108px;
}

.purchases__modal_item {
  background: #1e1e1f;
  box-shadow: inset -5px -5px 10px #242529, inset 5px 5px 10px #0a0a0a;
  border-radius: 8px;
  margin: 10px 0;
  border: 0;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 14px;
}

.purchases__modal_item::placeholder {
  padding: 9px 0;
}
.purchases__modal_item,
.purchases__modal_item::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
//<Form styles />//

.textarea__item {
  background: #1e1e1f;
  box-shadow: inset -5px -5px 10px #242529, inset 5px 5px 10px #0a0a0a;
  border-radius: 8px;
  border: 0;
  font-size: 12px;
  line-height: 16px;
  height: 90px;
}
/*
<Textearea style>
Used on all pages! Should be exist as a component in further*/
.textarea__item {
  background: #1e1e1f;
  box-shadow: inset -5px -5px 10px #242529, inset 5px 5px 10px #0a0a0a;
  border-radius: 8px;
  border: 0;
  font-size: 12px;
  line-height: 16px;
  height: 90px;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 14px;
  resize: none;
}
.textarea__item {
  outline-width: 0;
}

.textarea__item::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/*
</Texareastyles />
*/
