.order-list_item {
    background: linear-gradient(170.75deg, rgba(0, 0, 0, 0.4) -9.69%, rgba(43, 43, 43, 0.4) 115.55%), #2f3338;
    height: 120px;
    box-shadow: 17.1981px 17.1981px 34.3963px #020303, -17.1981px -17.1981px 34.3963px rgba(39, 42, 47, 0.29);
    border-radius: 20px;
    height: 120px;
    color: #fff;
    justify-content: space-around;
    max-width: 700px;
    min-width: 635px;
}

.order-detail__enhancer {
    cursor: pointer;
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 2%;
    bottom: 50%;
}

.resolve-buttons {
    align-items: flex-start;
    display: inline-block;
    font-weight: 400;
}

.resolve-buttons button {
    width: 140px;
    margin: 0 auto;
    height: fit-content;
    padding: 5px;
    display: block;
    font-weight: 400;
}
.resolve-buttons button:first-child {
    margin-bottom: 10px;
    width: 140px;
    height: fit-content;
    padding: 5px;
    display: block;
    font-weight: 400;
}

.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 20px 0px 0px;
    background-color: #5458f7;
    border: none;
    color: #fff;
}
