.textarea__item {
  background: #1e1e1f;
  box-shadow: inset -5px -5px 10px #242529, inset 5px 5px 10px #0a0a0a;
  border-radius: 8px;
  border: 0;
  font-size: 12px;
  line-height: 16px;
}

.modal-item {
    height: 90px;
}


.textarea__item .modal-item {
    margin: 30%;
}
