.refund-list_item {
    background: linear-gradient(170.75deg, rgba(0, 0, 0, 0.4) -9.69%, rgba(43, 43, 43, 0.4) 115.55%), #2f3338;
    height: 120px;
    box-shadow: 17.1981px 17.1981px 34.3963px #020303, -17.1981px -17.1981px 34.3963px rgba(39, 42, 47, 0.29);
    border-radius: 20px;
    padding: 20px 40px;
    color: #fff;
    justify-content: space-between;
    min-width: 635px;
    max-width: 700px

}

.item__info_button {
    height: 100%;
}

.seller-refund {
    font-weight: bold;
    padding: px;
}

