/* <Header STYLES> */
.header {
    background: #31323b;
    position: absolute;
    font-size:12px;
}


.header__input {
    background-color: #1E1E1F!important;
    color:#fff!important;
    border-color:#1E1E1F!important;
  
}
.header__input::placeholder{
    color:#fff!important;
}
/* </Header STYLES> */