.refund-list_item {
    background: linear-gradient(170.75deg, rgba(0, 0, 0, 0.4) -9.69%, rgba(43, 43, 43, 0.4) 115.55%), #2f3338;
    width: 700px;
    height: 120px;
    box-shadow: 17.1981px 17.1981px 34.3963px #020303, -17.1981px -17.1981px 34.3963px rgba(39, 42, 47, 0.29);
    border-radius: 20px;
    width: 700px;
    padding: 20px 40px;
    color: #fff;
    position: relative;
    justify-content: space-around;
}

.test-item__info {
    padding: 15px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}