.products__filter {
    background: linear-gradient(285.57deg, #32383e -77.68%, #17191c 87.35%);
    box-shadow: 12.571px 12.571px 56.5696px rgba(0, 0, 0, 0.4), -12.571px -6.28551px 50.2841px rgba(195, 200, 205, 0.05);
    max-width: 400px;;
    width: 35%;
    min-width: 375px;
    height: auto;
    list-style: none;
}


.filter__list {
    padding: 0 5px;
}


.m-checkbox {
    width: 100%;
    display: flex;
}

.filter__reset {
    display: flex;
    background-color: #5458F7;
    text-align: center;
    height: 1.8%;
    max-height: 370px;
    border-radius: 0 0 10px 10px;
    span {
        margin: 0 auto;
        display: flex;
        font-size: 14px;
        align-self: center;
    }
}