.products__filter {
    background: linear-gradient(285.57deg, #32383e -77.68%, #17191c 87.35%);
    box-shadow: 12.571px 12.571px 56.5696px rgba(0, 0, 0, 0.4), -12.571px -6.28551px 50.2841px rgba(195, 200, 205, 0.05);
    width: 25%;
    height: auto;
    margin-right: 40px;
    padding: 30px;
    list-style: none;
}
